<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>

  <!--
        See https://github.com/NLog/NLog/wiki/Configuration-file
    -->
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true">
    <targets>

      <!--
        A console logger
    -->
      <target name="TheConsole" xsi:type="ColoredConsole" layout="${level:uppercase=true} ${logger:shortname=true}: ${message}"/>


      <!-- 
        Output to the developer IDE debug window (if running under a debugger)
        see https://github.com/NLog/NLog/wiki/Debugger-target 
    -->
      <target name="Debugger" xsi:type="Debugger" layout="${level:uppercase=true} ${logger:shortname=true}: ${message}"/>


      <!-- 
    
          Create a simple log file in %TEMP% for developers that is overwritten 
          each time the application starts. This log file should be 'human' readable
          without debug information or stack traces. It is intended for locating
          issues, whereas the debug log will include large volumes of detailed information.
      
          see https://github.com/NLog/NLog/wiki/File-target 
      -->
      <target name="DeveloperLogFile" xsi:type="File" layout="${longdate} ${level:uppercase=true} ${logger:shortname=true}: ${message}" fileName="${environment:variable=TEMP}\htmlsmtptarget-micro.log" archiveOldFileOnStartup="true" optimizeBufferReuse="true"/>


      <!-- 
    
          Create a simple log file in %TEMP% for developers that is overwritten 
          each time the application starts. This log file should be 'human' readable
          without debug information or stack traces. It is intended for locating
          issues, whereas the debug log will include large volumes of detailed information.
      
          see https://github.com/NLog/NLog/wiki/File-target 
      -->
      <target name="DeveloperErrorLogFile" xsi:type="File" layout="${longdate} ${level:uppercase=true} ${logger:shortname=true}: ${message}" fileName="${environment:variable=TEMP}\htmlsmtptarget-micro-error.log" archiveOldFileOnStartup="true"/>

      <!-- 
    
      Create a simple log file in %TEMP% for developers that is overwritten 
      each time the application starts. This log file includes debug information
      and stack traces.
      
      see https://github.com/NLog/NLog/wiki/File-target 
    -->
      <target name="DeveloperDebugLogFile" xsi:type="File" layout="${longdate} ${level:uppercase=true} ${logger}: ${message} ${exception:format=Message,ToString}" fileName="${environment:variable=TEMP}\htmlsmtptarget-micro-debug.log" archiveOldFileOnStartup="true" optimizeBufferReuse="true"/>

    </targets>

    <rules>
      <logger name="*" minlevel="Info" writeTo="TheConsole"/>
      <logger name="*" minlevel="Info" writeTo="Debugger"/>
      <logger name="*" minlevel="Info" writeTo="DeveloperLogFile"/>
      <logger name="*" minlevel="Trace" writeTo="DeveloperDebugLogFile"/>
      <logger name="*" minlevel="Warn" writeTo="DeveloperErrorLogFile"/>

    </rules>
  </nlog>

<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/></startup></configuration>
